/* font loaded from Google Font  */
@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Muli', "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-weight: 400;
}

p{
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.navbar-transparent{
    background: transparent;
}

.navbar-transparent a{
    color: #bdc3c7;
}

.project-bg{
    background: url("../images/folk-pattern-black.png");
    padding: 8rem 2rem 5rem 2rem;
}

.project-bg *{
    font-family: "Muli","Microsoft Yahei UI",sans-serif;
    color: #ecf0f1;
}

.project-bg a:hover,
.project-bg a:focus{
    color: #bdc3c7;
    transition: .35s all;
}

.project-bg .author{
    margin: 1rem 0 1rem 0;
}

.navbar-vis-gradient{
    background: #833ab4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.visualization-proj-bg {
    background: #833ab4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 8rem 2rem 5rem 2rem;
}

.visualization-proj-bg *{
    font-family: "Muli","Microsoft Yahei UI",sans-serif;
    color: #ecf0f1;
}

.visualization-proj-bg a:hover,
.visualization-proj-bg a:focus{
    color: #bdc3c7;
    transition: .35s all;
}

.visualization-proj-bg .author{
    margin: 1rem 0 1rem 0;
}


.project-section{
    padding: 2rem 0 2rem 0;
}

.project-section h1,
.project-section h2,
.project-section h3,
.project-section h4,
.project-section h5,
.project-section h6{
    color: #2c3e50;
}

.project-section p{
    color: #34495e;
}

#project-result-chart{
    height: 25rem;
}

.model-detail{
    background: #ecf0f1;
}

#model-peformance-chart {
    height: 20rem;
}

.contact-us-section{
    background: #7c064d;
}

.contact-us-section h3{
    color: #ffeed0;
}

.contact-us-section a{
    color: #f79f24;
}

.conclusion{
    background: #f5f5f5;
}

.footer{
    padding: 2rem 1rem 2rem 1rem;
    background: #f7f7f7;
}

.footer *{
    color: #6c757d;
}

.footer a{
    color : #495057;
}

.demo-section {
    background: #485563;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.demo-section h1,
.demo-section h2,
.demo-section h3,
.demo-section h4,
.demo-section h5,
.demo-section h6,
.demo-section label,
.demo-section p{
    color: #ecf0f1;
}

.embed-result-panel{
    height:40rem;
}

.epidemic{
    padding: 2rem 0 2rem 0;
}

.or-divider{
    font-family: "Avenir Next",sans-serif;
    /* font-size: 20pt; */
    font-size: 200%;
    text-align: center;
    font-weight: normal;
    display: flex;
    /* line-height: 1.5em; */
    margin-top: 0.7em;
    margin-bottom: 0.5em;
    width: 100%;
}

.or-divider:after{
    border-bottom: 0.1rem dashed #D3D3D3;
    /* height: 0.8em; */
    margin-left: 1rem;
    content: '';
    flex: 1;
}

.or-divider:before{
    border-bottom: 0.1rem dashed #D3D3D3;
    /* height: 0.8em; */
    margin-right: 1rem;
    content: '';
    flex: 1;
}
